// Base Styles

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Maven Pro', sans-serif;
}

// offer banner
.offer__banner__wrapper{
    height: 20px;
    position: relative;
}
.offer__banner {
    background: $black;
    padding: 3px 0 3px 0;
    font-size: 1em;
    text-align: center;
    position: relative;
}
.offer__banner__text {
    color: white;
    position: absolute;
    transform: translate;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
// cross style
.offer__banner__cross {
    @include icon-style;
    height: 3px;
    width: 23px;
    background: black;
    right: 0%;
}

.left {
    @include close-left;
    top: 8px;
    background-color: white;
}

.right {
    @include close-right;
    top: 8px;
    background-color: white;
}



//animated styles
.wrapper {
    margin: 0% 1% 0 1%;
    @media only screen and (min-width: 1453px) {
    margin: 0% 10% 0 10%;
    }
}
h1 {
    @include h1;
}
p {
    line-height: 120%;
    font-size: 24px;
}
//Nav Desktop
//Nav Header 
.nav__header {
    display: block;
    border-bottom: 1px solid silver; 
.nav__header__menu__wrapper {
    height: 100%;
    margin: 0 auto;
    padding: 0 8vw;
    position: relative;
    @include desktop {
        display: none;
        }
}
.nav__header__menu {
    margin-left: auto;
    margin-right: auto;
    height: 90px; 
    position: relative;
    align-items: center;
    padding-left: 0%;
    @include desktop {
    display: none;
    }
}
@include desktop {
    display: flex;
}


//burger styles
.burger {
  @include icon-style;
}
.top {
    top: 35%;
}
.middle {
    top: 50%;
}
.bottom {
    top: 65%;
}
.icon.close .top{
    @include close-right;
}
.icon.close .middle, .icon.close .bottom {
    @include close-left;
}

    &
    .logo {
        @include logo;
        color: white;
        font-size: 50px;
        width: 100%;
        text-align: none;
        display: flex;
        padding-left: 48%;
        align-items: center;
        @include desktop {
        @include logo;
        padding-left: 0%;
        text-align: center;
        display: block;
        font-size: 32px;
        position: relative;
        &
        .logo__f {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
//li nav bar
    .search {
        color: silver;
        display: block;
        padding: 1.25em;
        align-self: center;
        text-align: center;
        display: none;
    &.active {
        display: block;
   }
   @include desktop {
    padding: $l-laptop-nav-padding;
    display: inline-flex;
    }
    @include xl-width {
        
    }
}
    .book {
    text-transform: uppercase;
    text-align: center;
    align-self: center;
    padding: 20px;
    font-size: 1.5em;
    display: none;
    @include desktop {
        font-size: 1em;
        text-align: end;
        display: inline-block;
    flex: 3;
    padding: 0px;
    @include xl-width {
        font-size: 2em;
    }
}
    
    &.active {
        display: block;
   }
}

    ul {
       @include navtext;
       display: none;
       flex-basis: 80%;
       font-size: 1.25em;
       text-align: center;
       @include desktop {
           font-size: 1em;
           text-transform: uppercase;
    }
       li {
        padding: 20px;
        text-decoration: underline;
        display: block;
        color: silver;
        text-align: center;
        text-transform: uppercase;
        font-size: 1em;
        @include desktop {
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1em;
            @include navtext;
            display: flex;
        }
       }
       &.active {
            display: block;
            @include desktop {
            display: flex;
            }
       }
       @include desktop {
       @include navtext;
       display: flex;
    }
}
}
  
//Header 

.header__wrapper {
    .header__slider {
        @include flex-center;
        height: 100vh;
        padding-bottom: 6%;
    }
}
//flickity//
//flickity text //
.flickity-text--living {
    @include sub-title;
}
.flickity-text--picks {

    color: red;
    @include title;
}
.flickity-text--arrow {
    background: red;
    @include inner-box;
    padding: 18px;
}
.flickity-text--shopnow {
    background:red;
   @include lg-action;
}
.flickity-text {
    @include rectangecontent;
}
//flickity sale badge 
.flickity-text--saleouter {
    @include circlesmall;
    border: 2px dashed white;
    background: purple;
    opacity: 0.5;
    position: absolute;
    left: 55%;
    top: 20%;
    @include desktop {
    @include circle;
    border: 2px dashed white;
    background: purple;
    opacity: 0.5;
    position: absolute;
    left: 68%;
    top: 8%;
    }
}
.flickity-text--saletext {
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    @include desktop {
    color: white;
    text-transform: uppercase;
    font-size: 100px;
    position: absolute;
}
}
//flickity text delivery
.flickity-text--delivey {
    @include rectangecontent;
}
p.flickerty--text-delivery {
    @include title;
    color: $gold;
}
.flickerty--text-delivery-text {
    @include sub-title;
    text-transform: capitalize;
}
.flickerty-text--van {
    background: silver;
    padding: 5px;
    @include inner-box;
}
.flickity-text--ordernow {
    @include lg-action;
    background: silver;
}
//finance 
.flickity-text--financeouter {
    @include circlesmall;
    border: 2px solid white;
    background: purple;
    opacity: 0.5;
    position: absolute;
    left: 55%;
    top: 20%;
    @include desktop {
    @include circle;
    left: 68%;
    top: 8%;
}
}
.flickity-text--financetext {
    color: white;
    text-transform: uppercase;
    font-size: 44px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    @include desktop {
    font-size: 60px;
}
}
//carousel images 
.flicksofa {
    background-image: url("../img/alexandra-gorn-485551-unsplash.jpg");
    @include flexbottom;
}
.flickkitchen {
    background-image: url("../img/kitchen.jpeg");
    position: relative;
}
.flickoffice {
    background-image: url("../img/office.jpeg");
    @include flexbottom;
}
.flickstorage {
    background-image: url("../img/storage.jpeg")
}
.flickdining {
    background-image: url("../img/dining.jpeg")
}
  .carousel-cell {
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin-right: 10px;
    counter-increment: gallery-cell;
    @include desktop {
    height: 90vh;   
    }
  }
  /* cell number */
  .carousel-cell:before {
    display: none;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  }
//product 
.product__wrapper {
    height: auto;
    padding: 1%;
    @include desktop{
        height: auto;
        padding: 0;
    }
    @include xl-width {
        padding: 3% 0 0 0;
    }
    h1 {
        color: $black;
        text-shadow: none;
        font-size: 50px;
        padding-top: $mobile-padding-top;
        padding-bottom: $mobile-padding-bottom;
        @include desktop{
            font-size: 70px;
            padding: 0;    
        }
        @include xl-width {
            font-size: 100px;
        }
    }
    p {
        color: $black;
        text-shadow: none;
        padding-bottom: $mobile-padding-bottom;
        @include desktop{

        @include xl-width {
            font-size: $xl-product-p-size;
        }
    }
}
    strong {
        @include small;
        border-bottom: 0;
        @include desktop{
        border-bottom: 2px solid black;
        }
        @include xl-width {
            font-size: $xl-span-size;
        }
    }
.product__text-small
    {
    @include small;
    font-weight: 500;
    color: $black;
    text-shadow: none;
    border-bottom: 0;
    margin-bottom: 10px;
    @include desktop{
    border-bottom: 2px solid black;
    margin-bottom: 0px;
    }
    @include xl-width {
    font-size: $xl-span-size;
    }
    }
.product__wrapper__column {
    padding: 0%;
    overflow: auto;
    width: 100%;
    @include desktop {
    @include col;
    padding: 5%;
    overflow: auto;
    }
    @include xl-width {
    padding: 0 0 3% 0;
    }
  }
  .product__wrapper:after {
    content: "";
    @include clear;
  }
}
//blog post 3 cols
.blog__post-wrapper {
    height: 10%;
    .blog__post {
        float: left;
        width: 100%;
        font-size: inherit;
        text-align: center;
        overflow: auto;
        height: 100%;
        padding: 3%;
        margin-bottom: 10px;
        @include desktop{
        width: calc(97% / 3);
        margin-left: 10px;
        padding: 5%;
        }
        time {
        @include white-shadow;
        font-size: 24px;
        @include xl-width {
        font-size: $xl-span-size;
        }
        }
        h1 {
            @include white-shadow;
            font-family: 'Playfair Display', serif;
            padding-top: $mobile-padding-top;
            padding-bottom: $mobile-padding-bottom;
            font-size: 2em;
            @include desktop{
                font-size: 2em;
            @include xl-width {
                font-size: $xl-blog-h1;
            }
        }
    }
        span {
            @include white-shadow;
            font-size: 1.5em;
            text-transform: uppercase;
            @include xl-width {
                font-size: $xl-span-size;
            }
        cursor: pointer;
        letter-spacing: 1px;
        border-bottom: 2px solid $off-white;
        }
    }
}
.blog__post-wrapper::after {
    @include clear;
}
.clear {
    @include clear;
}
//blog post bg images 
.blog__post-left {
    background-image: url("../img/alarm.jpeg");
    @include background;
}
.blog__post-centre {
    background-image: url("../img/leaf.jpeg");
    @include background;
}
.blog__post-right {
    background-image: url("../img/bath.jpeg");
    @include background;
}

//News and social wrapper
.News__social-wrapper {
    //grid styles
    display: grid;
    grid-template-columns: 4fr 4fr 4fr 1fr 4fr 4fr 1fr 4fr 4fr 4fr;
    grid-template-rows: 4fr 4fr 4fr 4fr 4fr 1fr 4fr 4fr 4fr;
    width: auto;
    @include desktop{
        height: 100vh;
        display: grid;
        grid-template-columns: 4fr 4fr 4fr 1fr 4fr 4fr 1fr 4fr 4fr 4fr;
        grid-template-rows: 4fr 4fr 4fr 4fr 4fr 1fr 4fr 4fr 4fr;
        width: auto;}
        //news and social TEXT wrapper
    .News__social__text__wrapper{
        width: fit-content;
        position: absolute;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        p {
            line-height: 120%;
            padding: 3%;
            @include xl-width {
                font-size: 45px;
            }
        }
        .fb,
        .twitter,
        .instagram {
            @include socialgold;
            @include biggerzoom;
            cursor: pointer;
        }
        li {
            list-style: none;
            display: inline-block;
            padding: 2px;
            img {
                vertical-align: middle;
                margin-bottom: 10px;
            }
        }
    }
        }
//base styles  of news and social
.News-social {
    height: 50vh;
    position: relative;
    grid-column: 1 / span 10;
    grid-row: 1/ span 1;
    margin: 0%;
    background-color: #edad37;
    text-align: center;
    color: #FDFFFC;
    padding: 4%;
    @include desktop {
        height: auto;
    }
    h1 {
        text-shadow: none;
        font-size: 2em;
        color: $off-white;
        @include xl-width {
            font-size: 66px;
        }
    }
    @include desktop{
    margin: 0% 10px 0px 10px;
    grid-column: 1 / span 4;
    grid-row: 1/ span 4;
    padding: 0;
}
@include xl-width {
    padding-top: 6%;
}
}
//grid content images 
.sofasmall {
    //img styles
    @include divimg;
    overflow: hidden;
    cursor: pointer;
    //grid styles
    grid-row: 5/ span 2;
    margin-bottom: 10px;
    grid-column: 1/ span 10;
    @include desktop{
    grid-row: 6/ span 4;
    grid-column: 1/ span 2;
}
//sofa small bg styles
.sofasmall__bg {
    @include zoombg;
    background-image: url("../img/photo-1.png");
}
}
.sofamedium {
    //img styles
    @include divimg;
    overflow: hidden;
    cursor: pointer;
    //grid styles
    grid-column: 1/ span 10;
    grid-row: 2/ span 1;
    margin: 10px 0 10px 0;
    @include desktop{
    margin: 0;
    grid-column: 5/ span 2;
    grid-row: 1/ span 3;
}
}
//sofa medium bg style
.sofamedium__bg {
    @include zoombg;
    background-image: url("../img/photo-2.jpeg");
}
.sofamiddle {
    //img styles
    @include divimg;
    overflow: hidden;
    cursor: pointer;
    //grid styles
    grid-row: 3/ span 2;
    grid-column: 1/ span 10;
    z-index: 1;
    margin-bottom: 10px;
    @include desktop{
    grid-row: 3/ span 4;
    grid-column: 6/ span 2;
    z-index: 1;
}
}
//sofa middle bg
.sofamiddle__bg {
    @include zoombg;
    background-image: url("../img/photo-3.jpeg");
}
.table {
    //img styles
    @include divimg;
    overflow: hidden;
    cursor: pointer;
    //grid styles
    grid-column: 1/ span 10;
    grid-row: 7/ span 2;
    margin-bottom: 10px;
    @include desktop{
    grid-column: 7/ span 4;
    grid-row: 4/ span 8;
}
}
//table bg
.table__bg {
    @include zoombg; 
    background-image: url("../img/photo-4.jpeg");
}

//mobile grid styles
.grid__logo {
    @include glass-bg;
    @include desktop{
    display: none;
    }
}
.grid__logo:hover {
    opacity: 0.2;
}
.grid__logo__text {
    @include glass-text;
    font-family: 'Playfair Display', serif;
    font-size: 10vw;
    width: 100%;
    @include desktop{
    display: none;
            }
}
//Twitter quote styles 
//main styles
.twitter__quote {
    display: none;
    padding: 0%;
    text-align: center;
    position: relative;
    background-color: #edad37;
    color: $off-white;
    font-size: 30px;
    line-height: 150%;
    @include desktop{
        font-size: 24px;
        padding: 7%;
        margin: 0 10px 10px 10px;
        display: block;
        //grid styles
        grid-row: 7/ span 4;
        grid-column: 3/ span 4;
    }
    @include xl-width {
        font-size: $xl-span-size;
    }
    //bird icon
    .twitter-icon {
        height: 50px;
            }
}
//bottom quote style
.twitter__quote2 {
    position: relative;
    grid-row: 9/ span 2;
    grid-column: 1/ span 10;
    display: block;
    margin-bottom: 10px;
    @include desktop{
    margin-bottom: 10%;
    display: block;
    //grid styles
    grid-row: 1/ span 3;
    grid-column: 7/ span 4;
}
}
//text positioning
.twitter__quote__text,
.twitter__quote__text-2 {
    position: absolute;
    @include absolute-centre; 
}
//spotlight
.darken-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
.spotlight__wrapper {
    @include background;
    height: 100vh;
    background-image: url(../img/designer.jpeg);
    background-attachment: fixed;
    margin-bottom: 10px;
    position: relative;
    .spotlight__intro {
    text-align: center;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 4%;
        @include desktop{
        width: 70%;
        padding: 0%;
        }
        @include xl-width {
            width: 90%;
        }
    }
    span {
        display: inline-block;
        border-bottom: 2px solid $off-white;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $off-white;
        font-size: 1.5em;
        cursor: pointer;
        padding-bottom: 0;
        @include desktop{
        padding-bottom: 2px;
        }
        @include xl-width {
            font-size: $xl-span-size;
        }
    }
    h1 {
        font-size: 60px;
        padding-bottom: $mobile-padding-bottom;
        color: $off-white;
        text-shadow: 1px 1px 5px #666;
        margin-bottom: 0px;
        text-shadow: black;
        @include desktop{

        }
        @include xl-width {
            font-size: $xl-heading-size;
        }
    }
    h3 {
    color: $off-white;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-size: 1.75em;
    padding-bottom: $mobile-padding-bottom;
    margin-bottom: 0px;
    text-shadow: 1px 1px 3px #666;
    @include desktop{
        padding-bottom: 3%;
    }
    @include xl-width {
        font-size: $xl-span-size;
    }
    }
    p {
            color: $off-white;
            line-height: 120%;
            letter-spacing: 1px;
            padding-bottom: $mobile-padding-bottom;
            margin-bottom: 0px;
                font-size: 24px;
                letter-spacing: 0px;
            @include desktop{
                letter-spacing: 1px;
                font-size: 24px;
            padding-bottom: 3%;
            @include xl-width {
                font-size: $xl-span-size;
            }
            }
    }
}
        
//flickity spotlight 
.spotlight-carousel {
    background-color: #607d8b;
  }
  
  .spotlight-carousel-cell {
    width: 25%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    counter-increment: gallery-cell;
  }
  
  /* cell number */
  .spotlight-carousel-cell:before {
    display: block;
    text-align: center;
    content: none;
    line-height: 200px;
    font-size: 80px;
    color: white;
  }
  mark {
  padding: 0 5px;
  background-color: #dddddd;
}
::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

//flickity spotlight gallery 

.flickyellow {
    background-image: url("../img/yellow.jpeg");
    @include divimg;
}

.flickgrey {
    background-image: url("../img/greychair.jpeg");
    @include divimg;
}

.flickyellowarm {
    background-image: url("../img/yellowchair.jpeg");
    @include divimg;
}

.flickblue {
    background-image: url("../img/bluewall.jpeg");
    @include divimg;
}

.flickpink {
    background-image: url("../img/pinkwall.jpeg");
    @include divimg;
}

.flogo {
    color: white;
    background: $black;
    width: 40px;
    height: 40px;
    padding: 2px;
    position: relative;
}

.f {
    font-family: playfairdisplay;
    color: white;
    position: absolute;
    text-align: center;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

}

//chair 
    .chair__wrapper {
        width: 100%;
        margin-top: 10px;
        position: relative;
        .chair__text {
            width: 100%;
            height: auto;
            padding: 5%;
            float: left;
            background-color: $blue;
            text-align: center;
            @include desktop{
            padding: 5% 5% 0% 5%;
            text-align: left;
            width: 50%;
            height: 80vh;
        }
            span {
                @include span;
                @include xl-width {
                    font-size: $xl-h3-size;
                }
            }
            h1 {
                z-index: 1;
                padding-top: $mobile-padding-top;
                color: white;
                font-weight: 100;
                font-size: 2em;
                text-align: center;
                position: inherit;
                width: auto;
                left: 0%;
                top: 0%;
                transform: translate(0%, 0%);
                @include desktop {
                    z-index: 1;
                    padding-top: 0;
                    font-size: 63px;
                    text-align: center;
                    position: absolute;
                    width: 307px;
                    left: 50%;
                    transform: translate(-50%, 10%);    
            @include xl-width {
                width: 400px;
                font-size: $xl-h1-size;
            }
        }
    }
            h3 {
                @include h3;
                @include xl-width {
                    font-size: $xl-h3-size;
                }
            }
            p {
                padding: 3% 0 3% 0;
                font-size: $p-size;
                line-height: $line-height;
                color: $off-white;
                text-shadow: $shadow;
                @include desktop {
                width: 80%;
                }
                @include xl-width {
                font-size: $xl-h3-size;
                }
            }
            
        }
        .chair__img {
            background-image: url("../img/chair.jpeg");
            height: 40vh;
            width: 100%;
            float: left;
            @include divimg;          
            @include desktop {
            background-attachment: initial;
            height: 80vh;
            width: 50%;
        }
    }
    }
//quote 
.quote__bg {
    margin-top: 10px;
    height: 50vh;
    text-align: center;
    background: #de5462; 
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
}
.quote__bg__img {
    background-image: url("../img/iconic.jpeg");
    @include divimg;
    height: 100%;
}
.quote__bg__content {
    @include heading-position;
    top: 50%;
    color: $off-white;
    text-shadow: $shadow;
    h1 {
        font-size: 3em;
        padding-bottom: $mobile-padding-bottom;
        @include xl-width {
            font-size: $xl-heading-size;
        }
    }
    span {
        @include span;
        @include xl-width {
            font-size: $xl-span-size;
        }
    }
}
