//colors
$pale-yellow: #faebd7;
$dark: grey;
$black: #0e1111;
$blue:  #607d8b;
$mustard: #edad37;
$smokeywhite: #F5F5F5;
$off-white: #FDFFFC;
$lightsliver: #F8F9F9;
$gold:silver;
//color styles
$silver-border: 2px solid silver;
$gold-border: 1px solid $gold;
$shadow: 1px 1px 5px #666;
//sizes
$small: calc(16.666% - 20px);
$big: calc(50% - 20px);
$line-height: 120%;
$p-size: 24px;
//nav bar
$navpad: 2%;
$colpad: 1% 5% 0% 5%;
//styles
$glass-opacity: 0.2;
//media queries 
$tablet-width: 779px;
$desktop-width: 1324px;
$xl-width: 2560px;
$mobile-padding-bottom: 3%;
$mobile-padding-top: 3%;
$mobile-view-height: 20vh;
//x-l styles 
$xl-h3-size: 3em;
$xl-h1-size: 6em;
$xl-span-size: 50px;
$xl-heading-size: 100px;
$xl-blog-h1: 60px; 
$xl-product-p-size: 45px;
// l-laptop
$l-laptop-nav-padding: 0.5em;
$l-laptop-nav-texttransform: capitalize;

//media queries 
@mixin l-mobile {
    @media only screen and (min-width: 480px){
        @content;}
}
@mixin tablet {
    @media only screen and (min-width: 776px){
        @content;}
}
@mixin desktop {
    @media only screen and (min-width: 1024px){
        @content;}
}
@mixin laptopl {
    @media only screen and (min-width: 1279px){
        @content;}
}
@mixin xl-width {
    @media only screen and (min-width: 2560px){
        @content;}
}
//absolute positioning centre
@mixin absolute-centre{
    position: absolute;
    transform: translate;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
//close button 
@mixin icon-style {
  position: absolute; 
  width: 35px; 
  height: 4px;
  background-color: silver;
  transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
  border-radius: 10px;
  cursor: pointer;
}
@mixin close-right {
    transform: rotate(45deg);
    top: 48%;
    background-color: white;
}

@mixin close-left {
    transform: rotate(-45deg);
    top: 48%;
    background-color: white;
}

@mixin close-hide {
    transform: rotate(360deg);
    background-color: white;
}
 // text styles
@mixin h3 {
    color: #FDFFFC;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-size: 1.75em;
}
@mixin h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    text-transform: capitalize;
    @media only screen and (min-width: 1324px){
        font-size: 3em;
    }
}
@mixin span {
    display: inline-block;
    border-bottom: 2px solid #FDFFFC;
    text-align: center;
    text-transform: uppercase;
    color: #FDFFFC;
    font-size: 1.5em;
    cursor: pointer;
}
//nav text styles
@mixin navtext {
    color: silver;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}
@mixin small {
    font-size: 20px;
    border-bottom: 2px solid black;
    text-transform: capitalize;
}
@mixin logo {
        font-family: 'Slabo', serif;
        background: $black;
        width: 70px;
        padding-top: 10px;
        
}
@mixin heading-color {
    color: $smokeywhite;
    opacity: 0.5;
}
//button
@mixin button1 {
    border: 2px solid $gold;
    text-transform: uppercase;
    font-size: inherit;
    &:hover {
        background: $gold;
    }
}

@mixin button2 {
    padding: 2%;
    border: 2px solid $gold;
    text-transform: uppercase;
    font-size: inherit;
    &:hover {
        background: $gold;
    }
}
//social media gold bg
@mixin socialgold {
    width: 50px;
    height: 50px;
}
// background image
@mixin divimg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
@mixin background {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
//zoom effect on background image 
@mixin zoombg {
        transition: transform .5s ease;
        &:hover {
            transform: scale(1.1);
        }
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        width: 100%;
        height: 100%;
}
//heading position within a bg
@mixin heading-position {
            position: absolute;
            text-align: center;
            left: 50%;
            top: 30%;
            transform: translate(-50%, -50%);
}

//flex styles
@mixin flex-center {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
//2 side by side col
@mixin col {
    float: left;
    width: 50%;
}
//clear float
@mixin clear {
    display: table;
    clear: both;
}
//zoom 
@mixin zoom {
    transition: transform .5s ease;
    &:hover {
        transform: scale(1.1);
    }
}
@mixin biggerzoom {
    transition: transform .5s ease;
    &:hover {
        transform: scale(1.3);
    }
}
//circcle
@mixin  circle {
    height: 300px;
    width: 300px;
    border-radius: 200px;
}
@mixin circlesmall {
    height: 200px;
    width: 200px;
    border-radius: 200px;
}


//rectange mobile 
@mixin rectangecontent {
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    opacity: 0.9;
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    @media only screen and (min-width: 559px) {
        width: 500px;
        margin-left: 65%;
        margin-right: 0;
     }
}
//flex 
//flexbottom
@mixin flexbottom {
    display: flex;
    align-items: flex-end;
}
//title 
@mixin title {
        text-transform: uppercase;
        @media only screen and (min-width: 559px) {
            text-align: center;
        }
    }
// text 
@mixin sub-title {
    color: black;
    @media only screen and (min-width: 559px) {
        text-align: center;
    }
}
//mobile icon within text box
@mixin inner-box {
    position: absolute;
    cursor: pointer;
    top: 10%;
    right: 2%;
    border-radius: 6px;
    @media only screen and (min-width: 559px) {
    display: none;
    position: inherit;
    top: 0%;
    right: 0%;
}
}
//action button inside text box for lg screens
@mixin lg-action {
    display: none;
    @media only screen and (min-width: 559px) {
        display: block;
        color: white;
        margin-left: auto;
        margin-right: auto;
        width: 100px;
        cursor: pointer;
        margin-top: 5px;
        border-radius: 2px;
        padding: 2px;
        text-align: center;
         
}
}
//glass hover
@mixin glass-bg {
    background: $black;
    height: 100%;
    width: 100%;
    position: relative;
    opacity: 0.5;
}

@mixin glass-text {
    font-size: 60px;
    letter-spacing: 1px;
    font-family: playfairdisplay;
    color: white;
    text-shadow: 1px 1px 5px #666;
    text-shadow: $black;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
@mixin white-shadow {
    font-family: playfairdisplay;
    color: white;
    text-shadow: 1px 1px 5px #666;
    text-shadow: $black;
}