@import "vars";
@import "mel";
// @import "nthchild";
// @import "flex";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

// img {
//     height: 100px;
//     width: 100px;
// }